<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Theraot Rule Set" ToolsVersion="10.0">
  <Include Path="allrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1006" Action="None" />
  </Rules>
</RuleSet>