[*.cs]
resharper_class_never_instantiated_local_highlighting = do_not_show
resharper_implicitly_captured_closure_highlighting = do_not_show
resharper_use_collection_count_property_highlighting = do_not_show
resharper_return_value_of_pure_method_is_not_used_highlighting = do_not_show
resharper_possible_multiple_enumeration_highlighting = do_not_show
resharper_redundant_cast_highlighting = do_not_show
resharper_convert_closure_to_method_group_highlighting = do_not_show
resharper_redundant_assignment_highlighting = do_not_show
resharper_redundant_to_string_call_for_value_type_highlighting = do_not_show
resharper_generic_enumerator_not_disposed_highlighting = do_not_show
resharper_parameter_type_can_be_enumerable_local_highlighting = do_not_show
resharper_redundant_enumerable_cast_call_highlighting = do_not_show
resharper_redundant_query_order_by_ascending_keyword_highlighting = do_not_show
resharper_static_member_initializer_referes_to_member_below_highlighting = do_not_show
resharper_join_declaration_and_initializer_highlighting = do_not_show
resharper_method_supports_cancellation_highlighting = do_not_show

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = none
