[*.cs]
# ReSharper
resharper_unused_auto_property_accessor_global_highlighting = do_not_show
resharper_unused_parameter_global_highlighting = do_not_show
resharper_event_never_subscribed_to_global_highlighting = do_not_show
resharper_member_can_be_made_static_global_highlighting = do_not_show
resharper_class_never_instantiated_global_highlighting = do_not_show
resharper_auto_property_can_be_made_get_only_global_highlighting = do_not_show
# Roslyn analyzers
dotnet_diagnostic.EPS01.severity = silent
dotnet_diagnostic.EPS06.severity = silent
dotnet_diagnostic.MA0007.severity = silent
dotnet_diagnostic.MA0012.severity = silent
dotnet_diagnostic.MA0015.severity = silent
dotnet_diagnostic.MA0048.severity = silent
dotnet_diagnostic.MA0053.severity = silent
dotnet_diagnostic.MA0070.severity = silent
dotnet_diagnostic.RCS1232.severity = silent
dotnet_diagnostic.S927.severity = silent
dotnet_diagnostic.VSTHRD003.severity = silent