[*.cs]
resharper_class_never_instantiated_local_highlighting = warning
resharper_implicitly_captured_closure_highlighting = warning
resharper_use_collection_count_property_highlighting = warning
resharper_return_value_of_pure_method_is_not_used_highlighting = warning
resharper_possible_multiple_enumeration_highlighting = warning
resharper_redundant_cast_highlighting = warning
resharper_convert_closure_to_method_group_highlighting = warning
resharper_redundant_assignment_highlighting = warning
resharper_redundant_to_string_call_for_value_type_highlighting = warning
resharper_generic_enumerator_not_disposed_highlighting = warning
resharper_parameter_type_can_be_enumerable_local_highlighting = warning
resharper_redundant_enumerable_cast_call_highlighting = warning
resharper_redundant_query_order_by_ascending_keyword_highlighting = warning
resharper_static_member_initializer_referes_to_member_below_highlighting = warning
resharper_join_declaration_and_initializer_highlighting = warning
resharper_method_supports_cancellation_highlighting = warning